/*
 * The planners.
 */

.schedule {}
.schedule {}
.schedule tr {
    height: 2em;
}
.schedule th {
    padding: 0 0.5em;
}
.schedule_user {
    padding-right: 1em;
}
.schedule_green, .schedule_red {
    text-align: center;
}
.schedule_green {
    background: #cec;
}
.schedule_red {
    background-color: #ecc;
}
.schedule_total td {
    text-align: center;
    font-weight: bold;
}
.schedule_buttons {
    text-align: right;
}
.schedule .submit {
    margin-top: 0.5em;
    padding: 0.2em 0.5em;
}
