parameters:
  level: 9
  paths:
    - classes
    - views
    - admin.php
    - index.php
  scanDirectories:
    - vendor/phpunit/phpunit
    - vendor/mikey179/vfsstream
  scanFiles:
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
  typeAliases:
    html: string
